%bla {
  border: 1px solid red;
}

.foo {
  margin: (mobile: 10px, tablet: 20px);
  padding: (mobile: 12px, tablet: 10px);
  justify-content: (mobile: start, tablet: end);
  display: block;
  width: calc(100% + 1px);
}
