%bla {
  border: 1px solid red;
}

.foo {
  @media screen and (min-width: 320px) { margin: 10px }@media screen and (min-width: 768px) { margin: 20px };
  @media screen and (min-width: 320px) { padding: 12px }@media screen and (min-width: 768px) { padding: 10px };
  @media screen and (min-width: 320px) { justify-content: start }@media screen and (min-width: 768px) { justify-content: end };
  display: block;
  width: calc(100% + 1px);
}
